DATABASE_URL=postgres://postgres:postgres@localhost:5432/invoisio_db?schema=public
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=invoisio_db
DATABASE_SYNC=true
DATABASE_LOAD=true

JWT_SECRET='poiuytfdxcvbnmliuytfds'